<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.bskydreams.app.notificationRefresh</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Bsky Dreams</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Image</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
				<string>public.jpeg</string>
				<string>public.png</string>
				<string>public.heic</string>
				<string>public.tiff</string>
				<string>com.compuserve.gif</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Movie</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.movie</string>
				<string>public.mpeg-4</string>
				<string>com.apple.quicktime-movie</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-Coral</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon-Coral</string>
			</dict>
			<key>AppIcon-Lime</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon-Lime</string>
			</dict>
			<key>AppIcon-Orange</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon-Orange</string>
			</dict>
			<key>AppIcon-Pink</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon-Pink</string>
			</dict>
			<key>AppIcon-Purple</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon-Purple</string>
			</dict>
			<key>AppIcon-Teal</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon-Teal</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.bskydreams.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bskydreams</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>BskyDreams uses your camera to attach photos and videos to posts.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>BskyDreams uses your microphone to record videos for posts.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>BskyDreams saves images to your photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>BskyDreams accesses your photo library to attach images and videos to posts.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Variable.ttf</string>
		<string>Syne-Bold.ttf</string>
		<string>Syne-ExtraBold.ttf</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
